@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
    --background: oklch(0.98 0.001 0);
    --foreground: oklch(0.235 0.015 65);
    --primary: oklch(0.35 0.15 40);
    --secondary: oklch(0.55 0.15 200);
  }
}
